<style>
    #banner {
      height: 200px;
      object-fit: fill;
      place-items: center;
    }
</style>

<div class=	'container-fluid'>
	<div class="mb-2 row text-center">
		<div class="col-md-4">
		<img class="mx-auto d-block"  id="banner" src= {{ url_for('static', filename='sideBC.jpg') }}>
		</div>
		<div class="col-md-4">
		<img class="mx-auto d-block"  id="banner" src= {{ url_for('static', filename='BullCallSpread.jpg') }}>
		</div>
		<div class="col-md-4">
		<img class="mx-auto d-block"  id="banner" src= {{ url_for('static', filename='sideBC.jpg') }}>
		</div>
	
	</div>
</div>
