{% extends 'base.html' %}
{% block content %}
		<div class="d-grid gap-2 col-3 mx-auto">
			<br><br><br>
				<form method="POST" action="/register">
					<label class="form-label mb-3">Register</label>
						
					
					<div data-validate = "Username is required">
						<input class="form-control form-control-lg" type="text" name="username" placeholder="Username">
					</div>
					<br>
					<label class="form-label mb-3">Password</label>
					<div class="mb-2" data-validate = "Password is required">
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<div>
						<a href="{{url_for('login')}}">
							Log In
						</a>
					</div>
					<div >
						<br>
						<button class="btn btn-outline-primary mb-2">
							Register
						</button>
					</div>
				</form>
			
{% endblock %}